# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#ignore Intellij Fiels
.idea
*.iml
out

#ignore VScode Files
.settings 
bin
.classpath
.project
